---
layout: default
title: 404 - Sayfa bulunamadı
permalink: /404.html
---

<div class="text-center">
  <h1>Aradığınız sayfa bu evrende tanımlı değil.</h1>
  <br/>

  <a href="{{ site.url }}"><img src="{{ site.baseurl }}/img/404-astronaut-750px.png" /></a>
</div>
