---
layout: page
title: Arşiv
permalink: /arsiv/
---
<section class="archive-post-list">

   {% for post in site.posts %}
       {% assign currentDate = post.date | date: "%Y" %}
       {% if currentDate != myDate %}
           {% unless forloop.first %}</ul>{% endunless %}
           <h1>{{ currentDate }}</h1>
           <ul>
           {% assign myDate = currentDate %}
       {% endif %}
       <li><a href="{{ post.url }}">{{ post.title }}</a>&nbsp;&nbsp;<span class="archive-right-author">{{post.author}}</span><span class="archive-right">{{ post.date | localize: "%-d %B %Y" }}</span></li>
   {% endfor %}

</section>
